*{
	padding:0;
	margin:0;	
}
/*------------------------------------Halaman Utama------------------------------------------*/
#header{
	background-color:whitesmoke;
	width:100%;
	overflow:hidden;
}

.header_kiri{
	float:left;
	width:50%;
}
.header_kiri img{
	float:left;
	width:25%;
	margin-top:2%;
	margin-bottom:2%;
	margin-left:10%;
	padding:0;
}

.header_kiri h1{
	margin-top:10%;
	font-size:3vw;
	font-family: 'Shrikhand', cursive;
	box-shadow:3px 4px 10px;
}

.header_kanan{
	float:right;
	width:50%;
}

.header_kanan p{
	margin-left:30%;
	font-weight:bold;
	font-family: 'Righteous', cursive;
	font-size:1.3vw;
}

.header_kanan a{
	text-decoration:none;
	color:brown;
}

.header_kanan a:hover{
	color:orange;
}

.search-textbox{
	margin-left:30%;
	margin-top:3%;
}
/*Text Searching*/
		.header_kanan input[type="text"]{
		  width: 70%;
		  border: 2px solid #aaa;
		  border-radius: 4px;
		  margin: 8px 0;
		  outline: none;
		  padding: 8px;
		  box-sizing: border-box;
		  transition: 0.3s;
		}
		.header_kanan input[type="text"]:focus {
		  border-color: dodgerBlue;
		  box-shadow: 0 0 8px 0 dodgerBlue;
		}

		.search-textbox input[type="text"] {
		  padding-right: 40px;
		}

		.search-textbox {
		  position: relative;
		}
		
		.search-textbox i {	
		  position: absolute;
		  top:15%;
		  right:30%;
		  padding: 9px 8px;
		  color: #aaa;
		  transition: 0.3s;
		}
		
		.search-textbox  input[type="text"]:focus + i {
		  color: dodgerBlue;
		}

		.search-textbox.box-icon i {
		  background-color: #aaa;
		  color: #fff;
		  padding: 9px 4px;
		  border-radius: 0 4px 4px 0;
		}

		.search-textbox.box-icon input[type="text"]:focus + i {
		  color: #fff;
		  background-color: dodgerBlue;
		}
/*-------------------------------------------------------------------------------------------*/


.bar_menu{
	background-color:gray;
	width:100%;
	margin:auto;
	box-shadow:0px 1.5px 15px;
}

.bar_menu:after{
	clear:both;
	content:' ';
	display:block;
}
/*Css Menu Bar*/
		#nav{
			list-style-type:none;
			list-style-position:outside;
			line-height:150%;
			z-index:2;
			margin-left:10%;
		}
		
		#nav ul{
			list-style-type:none;
			list-style-position:outside;
			line-height:150%;
			z-index:2;
		}

		#nav a{
			display:block;
			padding:7px 7px;
			border-left:1px solid whitesmoke;
			color:#fff;
			text-decoration:none;
			background-color:gray;
			font-family: 'Staatliches', cursive;
			font-size:1.5vw;
			z-index:2;
		}

		#nav a:hover{
			background-color:#fff;
			color:#333;
			z-index:2;
		}

		#nav li{
			float:left;
			position:relative;
			display:inline;
			z-index:2;
		}

		#nav ul {
			position:absolute;
			display:none;
			width:100%;
			z-index:2;
		}

		#nav li ul a{
			width:12em;
			height:auto;
			float:left;
			z-index:2;
		}

		#nav ul ul{
			top:auto;
			z-index:2;
		}

		#nav li ul ul {
			left:12em;
			margin:0px 0 0 10px;
			z-index:2;
		}

		#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
			display:none;
			z-index:2;
		}

		#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
			display:block;
			z-index:2;
		}
/*-------------------------------------------------------------------------------------------*/		

#menu{
	width:80%;
	margin:auto;
	overflow:hidden;	
}

#slideimage{
	width:100%;
	overflow:hidden;
	height:85%;
	margin-top:0.3%;
}
/*Css Slide Image*/
		#slideimage p{
			font-size:1.4vw;
			text-align:justify;
		}

		#slideimage h2{
			font-size:2vw;
		}

		#slideimage a{
			font-size:1vw;
			text-decoration:none;
		}
/*-------------------------------------------------------------------------------------------*/

#articlehome{
	width: 80%;
	margin:auto;
	overflow:hidden;
}


.kiri-articlehome{
	background-color:white;
	float:left;
	width:70%;
}

.hr_home_kiri hr{
	border-radius: 0 20px 20px 0;
	box-shadow:1px 2px 4px;
	margin:0;
	padding:0;
}
.hr_home_kiri p{
	margin-top:1%;
	margin-left:2%;
	font-size:2vw;
	font-family: 'Shrikhand', cursive;
	margin-bottom:0;
	padding:0;
}


.pagenitaion{
	width:100%;
}
.pagenitaion a{
	font-family: 'Staatliches', cursive;
	font-size:1.5vw;
}
/*Isi Berita*/
		.article_main{
			margin-top:2%;
			margin-bottom:6%;
			margin-left:auto;
			margin-right:auto;
			width:97%;
		}

		.article_main table{
			padding:8px;
			margin-bottom:2%;
			border-radius: 20px;
			box-shadow:3px 4px 10px;
		}

		.article_main h2{
			font-weight:bold;
			padding:0;
			margin:0;
			font-size:1.9vw;
		}
		
		.article_main img{
			width: 30%;
			float: left;
			padding:1px 10px;
		}
		
		.img_detail img{
			width:60%
		}
		
		.article_main p{
			font-size:1.1vw;
			text-align:justify;
		}

		.publish hr{
			margin:0;
			padding:0;
		}

		.publish p{
			margin:0;
			padding:0;
			font-weight:bold;
			font-style:italic;
			font-size:1.1vw;
		}
/*-------------------------------------------------------------------------------------------*/

.kanan-articlehome{
	float:right;
	margin-right:1%;
	margin-bottom:5%;
	width:28%;
	background-color:orange;
	border-radius: 0 0 20px 20px;
	box-shadow:2px 3px 10px;
	overflow:hidden;
}


.hr_home_kanan hr{
	border-radius: 0 20px 20px 0;
	box-shadow:1px 2px 4px;
	margin:0;
	padding:0;
}
.hr_home_kanan p{
	margin-top:3%;
	margin-left:2%;
	font-size:1.7vw;
	font-family: 'Staatliches', cursive;
	margin-bottom:0;
	padding:0;
	font-weight:bold;
	font-style:italic;
}

.populer_news table{
	width:95%;
	margin:3% auto auto auto;
}
.number p{
	font-size:1.8vw;
	font-weight:bold;
	text-align:center;
	color:#B40404;
}
.title_news p{
	padding:4%;
	font-weight:bold;
	font-size:1.6vw;
}

.title_news a{
	text-decoration:none;
	color:black;
}
.title_news a:hover{
	text-decoration:none;
	color:brown;
}
/*Css Clock*/
	#clock {
		margin:3% auto 12% auto;
		width:95%;
		background-color: #000000;
		font-size:90%;
		border-radius: 10px;
		padding-top:6%;
		padding-bottom:2%;
		box-shadow:3px 4px 10px;
	}
/*-------------------------------------------------------------------------------------------*/

#footer{
	position:relative;
	background-color:#282d32;
	margin:auto;
	width:100%;
	box-shadow:-1px -4px 15px;
	overflow:hidden;
}
.follow p{
	color:whitesmoke;
	font-size:2vw;
	margin-bottom:0;
	font-family: 'Concert One', cursive;
	text-align:center;
}
.copy_right p{
	color:whitesmoke;
	font-size:1vw;
	margin-bottom:0;
	font-family: 'Concert One', cursive;
	text-align:center;
	margin-top:1%;
	margin-bottom:2%;
}
/*-------------------------------------------------------------------------------------------*/

/*------------------------------------Form About  ------------------------------------------*/
.about_page{
	margin-top:3%;
	margin-bottom:4%;
	margin-left:2%;
	float:left;
	width:65%;
	border-radius: 20px;
	box-shadow:3px 3px 20px;
}
.about_page img{
	margin-top:4%;
	width:60%;
	margin-left:21%;
}

.about_page table{
	margin-top:4%;
	margin-bottom:6%;
	width:64%;
	margin-left:21%;
}

.about_page table p{
	font-family: 'Concert One', cursive;
	font-size:1.5vw;
}

.hr_about{
	margin-top:2%;
	margin-left:1%;
}
.hr_about hr{
	border-radius: 0 20px 20px 0;
	box-shadow:1px 2px 4px;
	margin:0;
	padding:0;
}
.hr_about p{
	margin-top:1%;
	margin-left:1%;
	font-size:3.3vw;
	font-family: 'Shrikhand', cursive;
	margin-bottom:0;
	padding:0;
}
.about_clock
{
	margin-top:2.8%;
	border-radius: 20px 20px 20px 20px;
}
/*-------------------------------------------------------------------------------------------*/

/*------------------------------------Form Register------------------------------------------*/
.bar_menu_admin{
	background-color:gray;
	width:100%;
	margin:auto;
	box-shadow:0px 1.5px 15px;
	position:relative;
}

.bar_menu_admin:after{
	clear:both;
	content:' ';
	display:block;
}

#clock_admin {
	margin:4% 4% auto auto;
	width:50%;
	background-color: #000000;
	font-size:100%;
	border-radius: 10px;
	padding-top:3%;
	padding-bottom:1%;
	box-shadow:3px 4px 10px;
}

.hr_admin {
	margin-left:25%;
}

.hr_admin hr{
	border-radius: 0 20px 20px 0;
	box-shadow:1px 2px 4px;
	margin:0;
	padding:0;
}
.hr_admin p{
	margin-top:2%;
	margin-left:2%;
	font-size:3vw;
	font-family: 'Shrikhand', cursive;
	margin-bottom:0;
	padding:0;
}

.article_main_admin{
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5%;
	padding:2%;
	border-radius: 20px;
	box-shadow:3px 4px 10px;
	width:40%;
}

.article_main_admin a{
	text-decoration:none;
	text-align:right;
	font-size:1.5vw;
	font-weight:bold;
	font-style:italic;
	font-family: 'Righteous', cursive;
	color:black;
}

.article_main_admin a:hover{
	color:darkblue;
	text-shadow:1px 1px 4px;
}

/*Text Box*/
		.textbox_admin input[type="text"], input[type="email"], input[type="password"]{
		  width: 100%;
		  border: 2px solid #aaa;
		  border-radius: 4px;
		  margin: 8px 0;
		  outline: none;
		  padding: 10px;
		  box-sizing: border-box;
		  transition: 0.3s;
		}
		.textbox_admin input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
		  border-color: dodgerBlue;
		  box-shadow: 0 0 8px 0 dodgerBlue;
		}

		.textbox_admin input[type="text"], input[type="email"], input[type="password"] {
		  padding-left: 50px;
		}

		.textbox_admin {
		  position: relative;
		}
		
		.textbox_admin i {	
		  position: absolute;
		  top:17%;
		  left:0%;
		  color: #aaa;
		  transition: 0.3s;
		}
		
		.textbox_admin input[type="text"]:focus + i, input[type="email"]:focus + i, input[type="password"]:focus + i{
		  color: dodgerBlue;
		}

		.textbox_admin.box-icon_admin i {
		  background-color: #aaa;
		  color: #fff;
		  padding: 10px 8px;
		  border-radius: 4px 0 0 4px;
		}

		.textbox_admin.box-icon_admin input[type="text"]:focus + i, input[type="email"]:focus + i, input[type="password"]:focus + i{
		  color: #fff;
		  background-color: dodgerBlue;
		}
/*----------------------------------------------------------------*/
.button_submit{
	width:30%;
	margin-top:2%;
	margin-left:35%;
	padding:5px;
	font-weight:bold;
	border-radius: 10px;
	font-size:1vw;
}

.button_submit:hover{
	box-shadow:2px 2px 10px;
}

/*-------------------------------------------------------------------------------------------*/


/*------------------------------------Main Menu----------------------------------------------*/
.mainmenu{
	width:100%;
	overflow:hidden;
}

.mainmenu_kiri{
	float:left;
	width:20%;
	background-color:orange;
	box-shadow:4px 3px 20px;
	height:100%;
	overflow:hidden;
}

.mainmenu_kiri img{
	margin: 12% 13% 5% 12%;
	width:75%;
	border-radius: 20px;
	box-shadow:3px 4px 10px;
}

.mainmenu_kiri p{
	text-align:center;
	font-weight:bold;
	font-family: 'Righteous', cursive;
	font-size:1.7vw;
}

.mainmenu_kiri em{
	color:darkred;
}

.mainmenu_kiri table{
	width:95%;
	margin-left:4%;
	margin-top:7%;
	margin-bottom:10%;
}

.mainmenu_kiri td{
	padding-top:2%;
}

.mainmenu_kiri a{
	display:block;
	padding:2% 2% 2% 20%;
	color:black;
	text-decoration:none;
	background-color:#848484;
	font-size:1.7vw;
	font-family: 'Staatliches', cursive;
	border-radius: 10px;
	box-shadow:2px 3px 10px;
}

.mainmenu_kiri a:hover{
	background-color:#8B4513;
	color:#fff;
	box-shadow:2px 3px 10px black;
}
		
.button_admin {
	position: relative;
}
		
.button_admin i {		
	position: absolute;
	top:17%;
	left:4%;
	color: #aaa;
	transition: 0.3s;
}
.button_admin a {
	transition: 0.3s;
}

.mainmenu_kanan{
	float:right;
	width:80%;
	overflow:hidden;
}

.isiadmin{
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2%;
	border-radius: 20px;
	box-shadow:3px 4px 10px;
	width:97%;
}

.isi_mainmenu{
	padding-top:11%;
	width:90%;
	padding-left:5%;
	padding-bottom:24%;
}
.isi_mainmenu img{
	margin-top:0;
	float:left;
	width:24%;
	padding:0;
}

.isi_mainmenu h1{
	margin-top:8%;
	font-size:3.3vw;
	font-family: 'Shrikhand', cursive;
	box-shadow:3px 4px 10px;
}
/*-------------------------------------------------------------------------------------------*/




/*------------------------------------Main Menu User----------------------------------------------*/
.isi_menuuser {
	padding-bottom:1%;
	margin-right:2%;
	height:57.5%;
	overflow:auto;
}
.isi_menuuser th,td{
	font-size:1.3vw;
}

.isi_menuuser table{
	margin:1% auto auto auto;
	width:95%;
}

.isi_menuuser th{
	background-color:gray;
}
.addmain{
	margin-left:3%;
	width:13%;
}
	.addmain a{
		display:block;
		padding:2% 2% 2% 32%;
		color:black;
		text-decoration:none;
		background-color:#848484;
		font-size:1.5vw;
		font-family: 'Staatliches', cursive;
		border-radius: 10px;
		box-shadow:1.5px 2px 10px;
	}

	.addmain a:hover{
		background-color:#E6E6E6;
		color:#black;
		box-shadow:1.5px 2px 10px black;
	}
	.editmain{
		margin-left:4%;
		margin-right:4%;
		margin-top:3%;
		margin-bottom:3%;
	}
	.editmain a{
		display:block;
		padding:5% 5% 5% 55%;
		color:black;
		text-decoration:none;
		background-color:#04B431;
		font-size:1.2vw;
		font-family: 'Staatliches', cursive;
		border-radius: 10px;
		width:65%;
		transition: 0.3s;
	}

	.editmain a:hover{
		background-color:#E6E6E6;
		color:#black;
	}
	
	.button_admin_edit {
		position: relative;
	}
			
	.button_admin_edit i {		
		position: absolute;
		top:22%;
		left:3%;
		color: #000;
		transition: 0.3s;
	}
	
	.deletemain{
		margin-left:16%;
		margin-right:4%;
		margin-top:3%;
		margin-bottom:3%;
	}
	
	.deletemain a{
		display:block;
		padding:3% 3% 3% 36%;
		color:black;
		text-decoration:none;
		background-color:#DF0101;
		font-size:1.2vw;
		font-family: 'Staatliches', cursive;
		border-radius: 10px;
		width:65%;
		transition: 0.3s;
	}

	.deletemain a:hover{
		background-color:#E6E6E6;
		color:#black;
	}
	
	.button_admin_delete {
		position: relative;
	}
			
	.button_admin_delete i {		
		position: absolute;
		top:16%;
		left:2%;
		color: #000;
		transition: 0.3s;
	}

.hr_main {
	padding-top:2%;
	margin-left:35%;
	margin-bottom:7%;
}

.hr_main img{
	float:left;
	width:20%;
}

.hr_main hr{
	border-radius: 0 20px 20px 0;
	box-shadow:1px 2px 4px;
	margin:0;
	padding:0;
}
.hr_main p{
	font-size:3vw;
	font-family: 'Shrikhand', cursive;
	margin-bottom:0;
	padding:0;
}
/*-------------------------------------------------------------------------------------------*/






/*------------------------------------ADD&Edit User----------------------------------------------*/
.isi_edituser{
	width:50%;
	height:71%;
	margin-left:auto;
	margin-right:auto;
	padding-top:0;
	padding-bottom:1%;
	padding-right:2%;
	overflow:auto;
}
.hr_main_edit {
	padding-top:2%;
	margin-left:35%;
	margin-bottom:3%;
}

.hr_main_edit img{
	float:left;
	width:12%;
}

.hr_main_edit hr{
	border-radius: 0 20px 20px 0;
	box-shadow:1px 2px 4px;
	margin:0;
	padding:0;
}
.hr_main_edit p{
	font-size:2.6vw;
	font-family: 'Shrikhand', cursive;
	margin-bottom:0;
	padding:0;
}
/*-------------------------------------------------------------------------------------------*/

/*------------------------------------Main Menu News----------------------------------------------*/
.isi_menunews {
	padding-bottom:1%;
	margin-right:2%;
	height:54%;
	overflow:auto;
}
.isi_menunews th,td{
	font-size:1.3vw;
}

.isi_menunews table{
	margin:1% auto auto auto;
	width:95%;
}

.isi_menunews th{
	background-color:gray;
}

.hr_mainnews {
	padding-top:1%;
	margin-left:35%;
	margin-bottom:8%;
}

.hr_mainnews img{
	float:left;
	width:22%;
}

.hr_mainnews hr{
	border-radius: 0 20px 20px 0;
	box-shadow:1px 2px 4px;
	margin:0;
	padding:0;
}
.hr_mainnews p{
	font-size:3vw;
	font-family: 'Shrikhand', cursive;
	margin-bottom:0;
	margin-top:3%;
}
/*-------------------------------------------------------------------------------------------*/


/*------------------------------------Add&Edit Berita----------------------------------------------*/
.isi_editnews{
	width:94%;
	height:64%;
	margin-left:auto;
	margin-right:auto;
	padding-top:0;
	padding-bottom:1%;
	padding-right:1%;
	overflow:auto;
}

.hr_main_editnews {
	padding-top:2%;
	margin-left:35%;
	margin-bottom:1%;
}

.hr_main_editnews img{
	float:left;
	width:18%;
}

.hr_main_editnews hr{
	border-radius: 0 20px 20px 0;
	box-shadow:1px 2px 4px;
	margin:0;
	padding:0;
}
.hr_main_editnews p{
	font-size:2.6vw;
	font-family: 'Shrikhand', cursive;
	margin-bottom:0;
	margin-top:4%;
}
		.textbox_news textarea{
		  width: 100%;
		  border: 2px solid #aaa;
		  border-radius: 4px;
		  margin: 2px 0;
		  outline: none;
		  padding: 15px 10px 5px 10px;
		  box-sizing: border-box;
		  transition: 0.3s;
		}
		
		.textbox_news2 textarea{
		  height:50%;
		}
		
		.textbox_news select{
		  width: 30%;
		  border: 2px solid #aaa;
		  border-radius: 4px;
		  margin: 4px 0 0 0;
		  outline: none;
		  padding: 5px 5px 5px 20px;
		  box-sizing: border-box;
		  transition: 0.3s;
		}
		
		.textbox_news input[type="file"]{
		  width: 50%;
		  border: 2px solid #aaa;
		  border-radius: 4px;
		  margin: 4px 0 0 0;
		  outline: none;
		  padding: 4px 4px 4px 4px;
		  box-sizing: border-box;
		  transition: 0.3s;
		}
		
		.textbox_news input[type="submit"]{
		  transition: 0.3s;
		}
		
		.textbox_news textarea:focus, select:focus, input[type="file"]:focus, input[type="file"]:hover{
		  border-color: dodgerBlue;
		  box-shadow: 0 0 8px 0 dodgerBlue;
		}
/*-------------------------------------------------------------------------------------------*/