@font-face {
    font-family: 'BebasNeueRegular';
    src: url('font/BebasNeue-webfont.eot');
    src: url('font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BebasNeue-webfont.woff') format('woff'),
         url('font/BebasNeue-webfont.ttf') format('truetype'),
         url('font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clock {
	color:#fff;
}

#Date {
	font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
	font-size:2.3vw;
	text-align:center;
	text-shadow:0 0 5px #00c6ff;
}

.clock ul {
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}
.clock ul li {
	display:inline;
	font-size:4.3vw;
	text-align:center;
	font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
	text-shadow:0 0 5px #00c6ff;
}

#point {
	-moz-animation:mymove 1s ease infinite;
	-webkit-animation:mymove 1s ease infinite;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}